[MAIN]
max-line-length=150
max-attributes=15

[DESIGN]
max-statements=100

[STRING]
check-quote-consistency=yes

[MESSAGES CONTROL]
disable=too-few-public-methods

[SIMILARITIES]
min-similarity-lines=50